@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: #FFF;
  --color-bg-secondary: #2D28FF;
  --color-bg-tertiary: #C7C7C7;

  --color-font-primary: #000;
  --color-font-secondary: #FFF;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}


body {
  background-color: var(--color-bg-primary);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

