.produtos-container {
    margin-left: 160px;
    margin-top: 20px;
}

.produtos-navbar {
  background-color: var(--color-bg-tertiary);
  color: var(--color-bg-primary);
  width: 960px;
  height: 60px;
  padding-top: 20px;
}

.produtos-menu-item {
  margin-top: 120px;
  margin-left: 20px;
  color: var(--color-font-primary);
  }
  
  .menu-active {
    font-weight: 700;
  }
