.produtos-container {
    margin-left: 160px;
    margin-top: 20px;
}

.produtos-navbar {
    color: #000000;
}

.produtos-menu-item {
    margin-left: 20px;
    color: var(--color-font-primary);
    font-weight: 400;
  }
  
  .menu-active {
    font-weight: 700;
  }
